<!-- views/listarVacas.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Listar Vacas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Lista de Vacas</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Raça</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% vacas.forEach((vaca)=> { %>
                <tr>
                    <td>
                        <%= vaca.id %>
                    </td>
                    <td>
                        <%= vaca.nome %>
                    </td>
                    <td>
                        <%= vaca.idade %>
                    </td>
                    <td>
                        <%= vaca.Raca.nome %>
                    </td>
                    <td>
                        <form action="/vacas/excluir/<%= vaca.id %>" method="POST"
                            onsubmit="return confirm('Tem certeza que deseja excluir esta vaca?');">
                            <button type="submit" style="background-color: red;">Excluir</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>